@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #3F644B;
    --secondary-color: #ffffff; 
    --accent1-color: #24ABF9;
    --accent2-color: #000000;

    --heading-font: 'Abril Fatface', serif;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #ffffff;
    --nav-link-color: #0000ee;
    --nav-hover-link-color: #710193;
    --nav-hover-background-color: #ffffff;
}

header {
    justify-content: center;
    padding: 15px;
    background-color: steelblue;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: 33% 34% 33%;
}

header img {
    max-width: 150px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 7/10;
    grid-row: 2;
}

header nav a {
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    background: #ffffff;
    border-radius: 5px;
}

p {
    padding: 10px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #00000086;
    color: #ffffff;
}

.hero article {
    position: absolute;
    top: 30%;
    width: 90%;
    margin-left: 5%;
    background-color: rgba(70, 131, 180, 0.85) ;
    border-radius: 10px;
}

.hero article img {
    float: right;
    padding: 15px;
    max-width: 150px;
}
.history {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 30% 70%;
}

.history img {
    width: 95%;
    padding: 5%;
    display: flex;
    grid-column: 3/4;
    grid-row: 1/3;
    align-items: center;
    justify-content: center;
}

.history h2 {
    display: flex;
    grid-column: 1/3;
    grid-row: 1;
    justify-content: center;
    align-items: center;
}

.history p {
    display: flex;
    grid-column: 1/3;
    grid-row: 2;
    justify-content: center;
    align-items: center;
}
figure {
    margin: 1px;
    justify-self: center;
    align-self: flex-end;
}
figcaption {
    text-align: center;
    font-size: small;
}

.adventure {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 20% 80%;
}

.adventure h2 {
    display: flex;
    grid-column: 1/6;
    justify-content: center;
    align-items: center;
}

.adventure img {
    display: flex;
    max-width: 100%;
    grid-row: 2;
    justify-content: center;
    align-items: center;
}

footer {
    padding:5%;
    display: grid;
    width: 90%;
    grid-template-columns: 80% 20%;
    background-color: steelblue;
}

footer p {
    color: #000000;
}

footer nav {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}