@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #3F644B;
    --secondary-color: #ffffff; 
    --accent1-color: #24ABF9;
    --accent2-color: #000000;

    --heading-font: 'Abril Fatface', serif;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #ffffff;
    --nav-link-color: #0000ee;
    --nav-hover-link-color: #710193;
    --nav-hover-background-color: #ffffff;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

body {
    font-family: var(--paragraph-font);
    display: block;
    margin: 0 auto;
    max-width: 90%;
    padding: 20px;
}

.container {
    /* max-width: 900px; */
    margin: 0 auto;
    /* padding: 20px; */
    background-color: var(--secondary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: 20% 20% 20% 20% 20%;
}

header img {
    max-width: 100px;
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    align-items: center;
}

main {
    display: block;
}

section {
    display: block;
}

p {
    padding: 25px;
}
header nav {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 3;
    /* background-color: var(--nav-background-color); */
    font-size: 1.2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    /* color: #ffffff; */
    background: #ffffff;
}

.hero {
   position: relative;
}

.hero img {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    opacity: 20%;
}

h1 {
    position: absolute;
    width: 100%;
    margin-top: 30px;
    padding-bottom: .25em;
    text-align: center;
    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, .60);
}
article {
    position: absolute;
    margin: 110px auto 110px auto;
    width:90%;
    background-color: rgba(20, 165, 248, 0.897);
    
}
.hero article img {
    position: relative;
     width: 200px;
     float: right;
     padding: 20px;
        
}

.history {
    width: 100%;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 100%;
}

.history img {
    display: flex;
    grid-column: 3/4;
    grid-row: 1;
    align-items: center;
    justify-content: center;
}

.history h2 {
    /* display: flex; */
    justify-content: center;
    margin-top: 0;
    grid-column: 1/3;
    grid-row: 1;
}

.history p {
    grid-column: 1/3;
    grid-row: 1;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 20% 80%;
}

.adventure h2 {
    grid-column: 2/5;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.adventure img {
    display: flex;
    max-height: 120px;
    grid-row-start: 2;
    align-items: space-between;
    justify-content: space-between;
}
footer {
    display: grid;
    grid-template-columns: repeat(2, 25%);
}

footer p {
    padding: 0;
    grid-column: 1/3;
    grid-row: 1;
}

footer nav {
    display: flex;
    justify-content: space-between;
    grid-column: 9;
    grid-row: 1;
}