@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #3F644B;
    --secondary-color: #ffffff; 
    --accent1-color: #24ABF9;
    --accent2-color: #000000;

    --heading-font: 'Abril Fatface', serif;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #ffffff;
    --nav-link-color: #0000ee;
    --nav-hover-link-color: #710193;
    --nav-hover-background-color: #ffffff;
}

header {
    justify-content: center;
    padding: 15px;
    background-color: steelblue;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: 33% 34% 33%;
}

header img {
    max-width: 150px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 7/10;
    grid-row: 2;
}

header nav a {
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    background: #ffffff;
    border-radius: 5px;
}

.contact {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-self: center;

}

.contact h2 {
    margin-left: 20%;
    margin-right: 20%;
}
.contact a {
    text-decoration: none;
}

.trip1 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 60% 20%;
    background-color:cadetblue;
}

.trip1 h1 {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: center;
    justify-content: center;
}

.trip1 p {
    display: flex;
    padding: 20px;
    padding-top: 50px;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.trip1 img {
    display: flex;
    max-width: 400px;
    grid-column: 2/3;
    grid-row: 1/3;
    align-items: center;
    justify-self: center;
}

.trip2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 60% 20%;
    background-color: deepskyblue;
}

.trip2 h1 {
    display: flex;
    grid-column: 2/3;
    grid-row: 1/2;
    align-items: center;
    justify-content: center;
}

.trip2 p {
    display: flex;
    padding: 20px;
    padding-top: 50px;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.trip2 img {
    display: flex;
    max-width: 500px;
    grid-column: 1/2;
    grid-row: 1/3;
    align-items: center;
    justify-self: left;
}

.trip3 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 60% 20%;
    background-color:cadetblue;
}

.trip3 h1 {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: center;
    justify-content: center;
}

.trip3 p {
    display: flex;
    padding: 20px;
    padding-top: 50px;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.trip3 img {
    display: flex;
    max-width: 600px;
    grid-column: 2/3;
    grid-row: 1/3;
    align-items: center;
    justify-self: center;
}

.table {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {

    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: abril fatface;
    font-size: 1.4rem;
    letter-spacing: 1.2px;
    margin: 3rem;

}
  
caption {
    caption-side: top;
    padding: 10px;
    font-weight: bold;
    background-color: darkgrey;
}
  
thead,
tfoot {
    background-color: rgb(228 240 245);
}
  
th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
}
  
td:last-of-type {
    text-align: center;
}
  
tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

footer {
    padding:5%;
    display: grid;
    width: 90%;
    grid-template-columns: 80% 20%;
    background-color: steelblue;
}

footer p {
    color: #000000;
}

footer nav {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}