@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #3F644B;
    --secondary-color: #ffffff; 
    --accent1-color: #24ABF9;
    --accent2-color: #000000;

    --heading-font: 'Abril Fatface', serif;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #ffffff;
    --nav-link-color: #0000ee;
    --nav-hover-link-color: #710193;
    --nav-hover-background-color: #ffffff;
}

header {
    justify-content: center;
    padding: 15px;
    background-color: steelblue;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: 33% 34% 33%;
}

header img {
    max-width: 150px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 7/10;
    grid-row: 2;
}

header nav a {
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    background: #ffffff;
    border-radius: 5px;
}

footer {
    padding:5%;
    display: grid;
    width: 90%;
    grid-template-columns: 80% 20%;
    background-color: steelblue;
}

footer p {
    color: #000000;
}

footer nav {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}