* {
    margin: 1em;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 750px;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: center;
}

form {
    width: 850px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label {
    text-align: left;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="number"] {
    width: 75px;
    height: 40px;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: purple;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

input[type="text"] {
    width: 300px;
}
select {
    width: 175px;
}